body{
    font-family: 'Trebuchet MS', 'Lucid','sans-serif';
    background-size: cover;
    font-weight: bold;
    background-color: blue;
    text-align: center;
    color: white;
    
}
h1 {
    color: goldenrod;
}
#message-el{
    font-style: italic;
}
button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-bottom: 7px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-bottom: 3px;
    margin-top: 5px;

}