body{
    font-family: 'Trebuchet MS', 'Lucid','sans-serif';
    background-color: cyan;
    text-align: center;
    color: white;
    font-weight: bold;
}
h1 {
    color: goldenrod;
}
#message-el{
    font-style: italics;
}