*{
    margin: 0;
    padding: 0;
}
/* button {
    display: block;
    border: solid white;
    border-width: 0 10px;
    border-radius: 0;
    background: green;
    color: white;
    font-size: 18px;
    margin: -60px auto 15px;
    padding: 15px;
   } */
   #save-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  